/*Standard Elements*/
body {
    background: #F6F6F6;
    margin: 0px;
    padding: 0px;
}
.dashboard{
    margin-top: 15px;
}
a{
    color: #333;
}
a:hover{
    color: #F12938;
    text-decoration: none;
}
.image-profile-sm{
    height: 35px;
}
.image-profile-md{
    height: 40px;
    margin-right: 15px;
}
.margin-top-15{
    margin-top: 15px;
}
.margin-bottom-5{
    margin-bottom: 5px !important;
}
.margin-bottom-15{
    margin-bottom: 15px important;
}
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

.table th{
    background: #eee;
}
.table td{
    vertical-align: inherit;
}

.table thead{
    background: #EEEEEE;
}
.page-title{
    color:#333 !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    font-weight: 100;
}
h1 {
    margin-top: 0px;
    color: #eee;
}
h2 {
    font-size: 1.75em;
}
h3 {
    font-size: 1.25em;
}
hr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;
}
.logo{
    height: 49px !important;
    padding: 5px 0 5px 0; 
}
.dev-mode{
    margin-top: 12px;
    margin-right: 5px;
}
/*Navbar*/
.navbar {
    position: relative;
    z-index: 20;
    margin: 0px;
    padding: 0px;
    height: 41px;
    background-color: #333;
    padding: 0em 1em;
    margin: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0px;
    border-bottom: none;
    color:#eee;
}
.navbar .brand {
    text-shadow: none;
    padding: 0px 20px 3px !important;
}

.navbar .nav {
    margin: 0em;
}
.navbar .nav > li > a {
    color: #fff;
    text-shadow: none;
}
.navbar .nav > li > a.active, .navbar .nav > li > a:focus{
    background-color: #444; 
    padding: 7px 8px 8px 8px;
}
.navbar .nav > li > a:hover {
    background-color: #F12938;
}

.navbar .dropdown-menu a:hover {
    background: none;
    color: #000;
}
.dropdown-menu .page-label{
    background: #eee;
    display: block;
    padding: 5px;
}
.navbar .nav li.dropdown.open > .dropdown-toggle {
    background-color: #444;
    color: #fff;
}
.active > a > .fa.arrow:before {
    content: "\f107";
}
.fa.arrow:before {
    content: "\f104";
}
.arrow{
    float: right;
}
.nav-projects li.active{
    background-color: #ddd;
}
.content {
    min-width: 400px;
    position: relative;
    min-height: 400px;
    background: #fff;
    margin-left: 240px;
    border-left: 1px solid #ddd;
}
.header {
    background: #eee;
    padding: 1.1em 1em;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 1px 1px #FFF inset;
    overflow: hidden;
}
.header p{
    margin-top: 10px;
    margin-bottom: 0px;
    color: #888;
}
.header h1 {
    margin: 1em 0em;
    padding: 0em;
    line-height: 20px;
    font-size: 1.5em;
}
.breadcrumb {
    box-shadow: none;
    border-radius: 0px;
    background: none repeat scroll 0% 0% #EEE;
    border-bottom: 1px solid #ccc;
    margin: 0px 0px 10px;
    padding: 10px 20px;
}
h1 small {
    font-size: 0.6em;
}
.page-content {
    padding: 1em;
}
footer {
    padding: 1em 0 1em 0;
    color: #666;
    line-height: 1.3em;
    border-top:1px solid #ddd;
    font-size: .85em;
    text-align: right;
}
/*Quick Toolbar*/
.btn-toolbar.quick-toolbar {
    float: right;
}
.btn-toolbar.quick-toolbar .btn {
    width: 60px;
    height: 60px;
    display: inline-block;
}
.btn-toolbar{
    margin-bottom: 10px;
}

/*Navigation*/
.sidebar-nav {
    width: 240px;
    position: absolute;
    float: left;
    border-top: none;
    border-left: none;
    margin: 0em;
}
.sidebar-nav .nav-header {
    border-top: 1px solid #FFF;
    border-left: medium none;
    color: #333;
    display: block;
    border-bottom: 1px solid #CCC;
    font-weight: normal;
    font-size: 1em;
    line-height: 3.2em;
    padding: 0.2em 1.25em;
    margin-bottom: 0px;
    text-shadow: none;
    text-transform: none;
    
    background: #efeff0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #efeff0), color-stop(1, #ffffff));
    background: -ms-linear-gradient(bottom, #efeff0, #ffffff);
    background: -moz-linear-gradient(center bottom, #efeff0 0%, #ffffff 100%);
    background: -o-linear-gradient(bottom, #efeff0, #ffffff);
    filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#6c7a95');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#efeff0')";

}
.sidebar-nav .nav-header .label {
    float: right;
    margin-top: .5em;
    margin-right: .25em;
    line-height: 1.5em;
}
.sidebar-nav .nav-header.collapsed .icon-chevron-up::before {
    content: "\f078";
}
.sidebar-nav .nav-header .icon-chevron-up {
    float: right;
}
.sidebar-nav .nav-header .label {
    float: right;
    margin-top: .7em;
    line-height: 1.5em;
}
.sidebar-nav .nav-header i[class^="icon-"] {
    margin-right: .75em;
}
.sidebar-nav .nav-list {
    margin: 0px;
    border: 0px;
    background: #f6f6f6;
}
.sidebar-nav .nav-list  > li > a:hover, .sidebar-nav .nav-list  > li > a.active {
    color: #e9e9e9;
    background-color: #333;
    box-shadow: none;
    color: #fff;
    text-shadow:none;
}

.sidebar-nav .nav-list  > li > a {
    display: block;
    padding: 10px 20px;
    font-size: 1em;
    color: #777;
    text-decoration: none;
    background: -moz-linear-gradient(center top , #F9F9F9, #F2F2F2) repeat scroll 0% 0% transparent;
}
.sidebar-nav .nav-list.collapse.in {
}
/*Buttons*/
.btn {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.btn-primary {
    background-color: #333;
    background-image: none;
    border: none;
}
.btn-primary:hover {
    background-color: #F12938 !important;
}
.btn-danger {
    background: #802420 !important;
    border:none;
}
.btn-danger:hover {
    background: #942a25 !important;
    *background: #553333;
}
.btn-success {
    background-color: #556665;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#869b99), to(#556665));
    background-image: -webkit-linear-gradient(top, #869b99, #556665);
    background-image: -o-linear-gradient(top, #869b99, #556665);
    background-image: linear-gradient(to bottom, #869b99, #556665);
    background-image: -moz-linear-gradient(top, #869b99, #556665);
    filter: progid:dximagetransform.microsoft.gradient(startColorStr='#6c7994', EndColorStr='#414959');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#869b99',EndColorStr='#556665')";
    border: 1px solid #495857;
}
.btn-success:hover {
    background-color: #556665;
    *background-color: #556665;
}
.btn-warning {
    background-color: #aaaa55;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cccc99), to(#aaaa55));
    background-image: -webkit-linear-gradient(top, #cccc99, #aaaa55);
    background-image: -o-linear-gradient(top, #cccc99, #aaaa55);
    background-image: linear-gradient(to bottom, #cccc99, #aaaa55);
    background-image: -moz-linear-gradient(top, #cccc99, #aaaa55);
    filter: progid:dximagetransform.microsoft.gradient(startColorStr='#6c7994', EndColorStr='#414959');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#cccc99',EndColorStr='#aaaa55')";
    border: 1px solid #99994d;
}
.btn-warning:hover {
    background-color: #aaaa55;
    *background-color: #aaaa55;
}
.well {
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-box-shadow: 1px 1px 0px #ffffff;
    -moz-box-shadow: 1px 1px 0px #ffffff;
    box-shadow: 1px 1px 0px #ffffff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
/*Faq*/
.faq-content ul,
.faq-content ol {
    padding-left: 1em;
}
.faq-content ul .top,
.faq-content ol .top {
    float: right;
    line-height: 1.25em;
    padding: .75em 0em;
}
/*Gallery*/
.gallery {
    text-align: center;
}
.gallery  > img {
    margin: .5em .5em .5em .5em;
}
.img-polaroid {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ddd;
}
.dialog,
.row .dialog,
.row-fluid .dialog,
.row-fluid [class*="span"].dialog:first-child {
    margin: 0px auto;
    margin-top: 5em;
    float: none;
    width: 400px;
}
.dialog input[type="checkbox"],
.row .dialog input[type="checkbox"],
.row-fluid .dialog input[type="checkbox"],
.row-fluid [class*="span"].dialog:first-child input[type="checkbox"] {
    margin: 0px;
}
.dialog .alert,
.row .dialog .alert,
.row-fluid .dialog .alert,
.row-fluid [class*="span"].dialog:first-child .alert {
    margin-bottom: 1em;
}
.dialog form,
.row .dialog form,
.row-fluid .dialog form,
.row-fluid [class*="span"].dialog:first-child form {
    margin-bottom: 0px;
}
.dialog .remember-me,
.row .dialog .remember-me,
.row-fluid .dialog .remember-me,
.row-fluid [class*="span"].dialog:first-child .remember-me {
    padding: .5em 0em 0em 0em;
}
input[type="text"],
input[type="password"] {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

/*Error Pages*/
.http-error {
    margin-top: 5em;
    text-align: center;
    color: #444;
}
.http-error h1 {
    font-size: 5em;
    line-height: 1em;
    text-shadow: 1px 1px 0px #fff;
    color: #444;
}
.http-error p {
    margin: 0px;
}
.http-error .info {
    font-size: 2em;
    line-height: 1.5em;
    margin-bottom: 1em;
}
.http-error i {
    font-size: 3em;
    line-height: .75em;
    text-shadow: 1px 1px 0px #fff;
}
/*Tabs*/
.nav-tabs  > li {
    margin-left: .5em;
}
.nav-tabs  > li  > a {
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
/*Model*/
.modal {
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.modal.small {
    width: 400px;
    margin: -170px 0 0 -200px;
}
.modal .modal-icon {
    vertical-align: middle;
    font-size: 4em;
    float: left;
    margin-right: .25em;
}
.modal:focus {
    outline: none;
}
.modal .modal-header h3 {
    font-size: .95em;
}
.modal .modal-footer {
    padding: .5em;
}
.modal .modal-body {
    padding: 2em;
}
.modal p {
    margin: 0em;
    line-height: 1.5em;
    overflow:hidden;
}

span.tag_public{
    background:#468847;
    color:#fff;
    text-shadow: none !important;
}
a.tag_public{
    color:#468847 !important;
}
span.tag_pending{
    background:#c67605 !important;
    color:#fff !important;
    text-shadow: none !important;
}
a.tag_pending{
    color: #c67605 !important;
}
span.tag_deny{
    background:#942a25 !important;
    color:#fff;
    text-shadow: none !important;
}
a.tag_deny{
    color: #942a25 !important;
}
span.tag_private{
    background:#2a85a0 !important;
    color:#fff;
    text-shadow: none !important;
}
a.tag_private{
    color: #2a85a0 !important;
}
a.tag_expiration, a.tag_expired{
    color: #000 !important;
}
/*Search*/
.search-well form {
    margin: 1em 0em 1.5em 0em;
}
.search-well label {
    margin-bottom: 0px;
    vertical-align: middle;
}
/*Table of Contents*/
.toc {
    margin-bottom: 2em;
}
.toc h3 {
    font-size: 1em;
    margin-top: 0em;
    padding-top: 0em;
    line-height: 1.4em;
}
.toc h4 {
    color: #555;
    font-size: 1em;
    margin-top: 0em;
    padding-top: 0em;
    line-height: 1.4em;
    margin-bottom: 0em;
    padding-bottom: 0em;
}
/*Dashboard Stats*/

table.table.list tr:first-child td {
    border-top: 0px;
}
.apps-home .app{
    text-align: center;
    padding:15px;
    color: #333;
    margin-top:7px;
    margin-bottom:7px;
}
.apps-home .app img{
    max-width: 100%;
    max-height: 130px;
}
.apps-home .app:hover{
    background: #f5f5f5;
    color:#F12938;
}
.apps-home .app p{
    margin-top: 10px;
}
.apps-home .icon-hm{
    font-size: 40px;
    line-height: 40px;
}
.btn-toggle-page{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left!important;
    background: #2E6C82 !important;
    color: #fff;
    text-shadow:none !important;
}
.options-page a{
    padding:15px;
    display: block;
    border-left: 1px solid #eee;
    text-align: center; 
}
.options-page a:hover{
    color: #555;
    text-decoration: none;
}
#nav-pages>li{
    border:1px solid #eee;
}
#nav-pages>li>ul>li{
    border-bottom: 1px solid #eee;
}
#nav-pages .no-sections{
    padding: 15px;
}
#nav-pages .page-current{
    background-color: #eee;
    text-decoration: none;
    font-weight: bold;
    padding: 12px;
    display: block;
}
#nav-pages .page-current:focus{
    color: inherit;
}
.function-current{
    padding:0px;
}
.list-pages{
    border:1px solid #eee;
    overflow:hidden;
}
.accordion-heading.page-current{
    border-bottom:1px solid #eee;
    background:#f5f5f5;
}
.function-current .name-function{
    padding: 15px 22px;
    display: block;
    color:#333;
}
.function-current:hover{
    background-color:#eee;
}
.tab-current{
    background: #f5f5f5;
    border:1px solid #eee;
    margin-bottom: 15px;
}
.tab-head{
    padding: 10px;
    font-weight: bold;
    color: #2E6C82;
    border-bottom: 1px solid #eee;
}
.tab-body{
    padding: 10px;
    overflow: hidden;
}
#screen-options{
    margin-bottom: 10px;
}
#screen-options li{
    padding:3px;
}
#screen-options .sc-options{
    background: #f5f5f5;
    padding: 15px;
    overflow: hidden;
}
#screen-options .check-screen{
    margin-right: 3px;
    margin-top: -2px;
}
#screen-options ul{
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}
#screen-options ul li{
    margin-right: 15px;
    list-style: none;
    display: inline-block !important;
    cursor: pointer;
}
#screen-options .opt-on{
    background: url('../images/check_flat.png') left no-repeat;
    padding-left: 20px;
}
#screen-options .opt-off{
    background: url('../images/cross_flat.png') left no-repeat;
    padding-left: 20px;
}
#WidgetFloaterPanels, div[translate=no]{
    display: none !important;
}
.diskquota{
    border:1px solid #ddd;
    height: 5px;
}
.diskused{
    height: 5px;
    background-color: #306F85;
}
.no-border td{
    border:none;
}
.align-center{
    margin: 0 auto;
}
.text-right{
    text-align: right !important;
}

.colorn{
    background:#eee;
}
.tdfunc{
    padding:4px;
    border-top:2px solid #ccc;
}

.hr-line-dashed {
    border-top: 1px dashed #e7eaec;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 20px 0;
}

.form-control:focus{
    box-shadow: none;
    border-color:#333;
}

.pagination>li>a, .pagination>li>span{
    color:#888;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #333;
    border-color:#333;
}

/* Tweaks for mobile */
@media (max-width: 641px) {
    .content {
        margin: 0em;
    }
    .sidebar-nav {
        float: none;
        width: auto;
        position: relative;
    }
    h1 {
        text-align: center;
    }
    .stats {
        text-align: center;
        margin-top: 1em;
    }
    .stats .stat {
        float: none;
        display: inline;
    }
    .stat-widget-container .stat-widget {
        font-size: .5em;
    }
}
@media (max-width: 900px) {
    body.http-error {
        font-size: .75em;
    }
    body.http-error .error-message {
        padding: 0em 1em;
    }
}
@media (max-width: 851px) {
    .stat-widget-container .stat-widget {
        font-size: .75em;
    }
}
@media (max-width: 767px) {
    footer hr {
        margin-left: 0em;
        margin-right: 0em;
    }
}
@media (max-width: 604px) {
    body.http-error {
        font-size: .5em;
    }
}
