<?xml version="1.0" encoding="UTF-8"?><page><form><input type="select" type_column="integer" list_registers="1" required="0" unique="0" limit="11" column="topic" attributes="{}" options="doc_topics" label_options="name">Tópico</input><input type="text" type_column="varchar" list_registers="1" required="0" unique="0" limit="255" column="title" attributes="{}" plugins="slug_trigger|">Título</input><input type="textarea" type_column="text" list_registers="0" required="0" unique="0" limit="" column="text" attributes="{}" plugins="ckeditor|">Texto</input><input type="hidden" type_column="varchar" list_registers="0" required="0" unique="0" limit="255" column="slug" attributes="{}" plugins="slug|">Slug</input></form></page>