*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
nbproject
vagrant
vendor/
/composer.lock
/composer.phar
install
install.php
index.php
wd-admin/application/config