{% extends "template.twig" %}
{% block content %}
    <div class="row">
        {% for widget in widgets%}
        <div class="col-sm-{{widget.col}} col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        {{widget.title}}
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" style="display: block;">
                    {{widget.content|raw}}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}