.image-file{
    text-align: center;
    padding: 2px;
    border:1px solid #ccc;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
}
.image-file img{
    margin: 0 auto;
}

.image-file .options-file{
    display: none;
}
.image-file:hover .options-file{
    display: block;
}


#my-awesome-dropzone{
    margin-bottom: 15px;
}

.name-file{
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 10px;
}

.file{
    margin-bottom: 15px;
}

.options-file{
    position: absolute;
    top: 0;
    right: 5px;
}