<?xml version="1.0" encoding="UTF-8"?><page><form><input type="select" type_column="integer" list_registers="0" required="0" unique="0" limit="11" column="cliente" attributes="{}" options="wd_users" label_options="name" trigger_select="cliente">Cliente</input><input type="text" type_column="varchar" list_registers="0" required="0" unique="0" limit="255" column="nome" attributes="{}">Nome</input></form></page>