<?xml version="1.0" encoding="UTF-8"?><page><form><input type="text" type_column="varchar" list_registers="0" required="0" unique="0" limit="255" default="teste" comment="teste" column="textando" observation="Testando" attributes="{&quot;0&quot;:{&quot;class&quot;:&quot;lol&quot;},&quot;1&quot;:{&quot;data-lol&quot;:&quot;teste&quot;}}">Textando</input></form></page>