<div class="col-sm-6">
    <h3>Arquivos</h3>
    <div id="files-list"><!--EJS--></div>
</div>
<div class="col-sm-6">

    <h3>Arquivos adicionados</h3>
    <div class="well well-sm">
        <div id="files-list-added"><!--EJS--></div>
    </div>
</div>