.files-list{
    width: 100px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.content-files{
    clear: both;
}

.option-checkbox{
    font-weight: normal;
    margin-right: 15px;
}