<?xml version="1.0" encoding="UTF-8"?><page><form><input type="text" type_column="varchar" list_registers="1" required="0" unique="0" limit="255" column="testando" attributes="{}">Testando</input><input type="file" type_column="varchar" list_registers="0" required="0" unique="0" limit="255" column="imagem" attributes="{}">Imagem</input><input type="textarea" type_column="text" list_registers="0" required="0" unique="0" limit="" column="texto" attributes="{}" plugins="ckeditor|">Texto</input><input type="select" type_column="integer" list_registers="0" required="0" unique="0" limit="11" column="select" attributes="{}" options="teste" label_options="textando">Select</input></form></page>