.files-list{
    width: 100px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.files-list.active{
    border-color: #F12938;
}

.content-files{
    clear: both;
}

.option-checkbox{
    font-weight: normal;
    margin-right: 15px;
}

.observation{
    padding-top: 5px;
    font-style: italic;
}